
/* define all colors as variables */
:root {
  --border: #000;
  --heading: #0f0e17;
  --main: #ff8906;
  --secondary: #f25f4c;
  --text: #0f0e17;
  --textAlt: #2e2f3e;
  --background: #ffffe7;
}

body {
  background: var(--background);
}

/* elements that change color */
p { color: var(--textAlt); }

h1, h2 { color: var(--heading); }

.Card, .Switch { border-color: var(--border); }

.theme-switch {
  background: transparent;
}

.nav-link, a {
  color: var(--heading) !important; 
}



.icon {

  &.inactive {
    color: gray !important;
  }

  &.sun.active {
    color: red;
  }

  &.moon.active {
    color: yellow;
  }
}

.icon { color: var(--inactive); }


.Card button {
  background: var(--main);
  color: var(--textAlt);
}
/* the rest of styles are in the full index.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--heading);
}

.App-link {
  color: var(--heading) !important; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: var(--secondary);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: var(--main) ;
  color:var(--heading);
}

.navbar-dark {
  background-color: var(--secondary);
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

nav {

  .navbar-collapse {
    transition: none;
  }
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}


@media (max-width: 768px) { 
  nav {

    .container {
      position: relative;
    }

    .navbar-collapse {
      position: absolute;
      background-color: var(--secondary);
      top: 90px;
      right: 0px;
      // outline: 1px solid red;
      padding: 30px;

      &::after {
        content: '';
        position: absolute;
        top: -15px;
        right: 14px;
        background: var(--secondary);
        z-index: 999;
        height: 30px;
        width: 30px;
        transform: rotate(45deg);
      }
    }
  }
}
